.footer {
  font: 400 14px $font-family;
  color: #b9b9b9;
  padding: 1.5rem 1.5rem 2.9rem;
  text-align: center;
  background-color: #000;

  &__title {
    color: #fefefe;
    font-weight: 700;
    line-height: 1.375rem;
    text-transform: uppercase;
  }

  &__desc {
    max-height: 3.75rem;
    overflow: hidden;
    margin-top: 0.5rem;
    font-size: 12px;
    line-height: 1.25rem;
  }

  &__social {
    margin: 1.6rem 0;
  }

  &__icon-rss {
    @include footer-icon(#f8902e);
  }

  &__icon-fb {
    @include footer-icon(#39599f);
  }

  &__icon-tw {
    @include footer-icon(#45b0e3);
  }

  &__icon-dr {
    @include footer-icon(#d97ab0);
  }

  &__icon-p {
    @include footer-icon(#cc212c);
  }

  &__contacts {
    line-height: 24px;
  }
}
