.header {
  @include main-padding;
  margin-top: 1.5rem;

  &__img {
    height: 9.375rem;
    margin-top: 1.5rem;
  }

  &__img img {
    width: 100%;
    height: 100%;
  }
}

.menu {
  font: 400 11px $font-family;
  height: 37px;
  position: relative;

  &__btn {
    color: #fff;
    width: 44px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }

  &__block {
    width: 182px;
    padding: 0;
    display: none;
    position: absolute;
    top: 37px;
    right: 0;
    background-color: #fff;
  }

  &__item {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 0.3rem 0 0 0.75rem;
    border-bottom: 0.125rem solid #f5f5f5;
  }

  &__item:hover:not(.active) {
    outline: 0.12rem solid #f5f5f5;
    background-color: #f5f5f5;
  }

  &__link {
    color: $color-title;
    line-height: 1.375rem;
    letter-spacing: 0.069rem;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__item.active &__link {
    color: $color-active;
  }
}
