@mixin main-padding {
  padding: 0 0.625rem;
}

@mixin grid-base {
  display: grid;
  grid-auto-rows: 0;
  overflow-y: hidden;
}

@mixin footer-icon($color) {
  width: 34px;
  height: 34px;
  margin: 0 3px;
  display: inline-block;
  color: $color;
  border: 2px solid $color;
  box-sizing: border-box;
  line-height: 30px;
  border-radius: 50%;
}
